<section id="contact">
    
    <div class="contact-div">
      <div class="contact-div-text">
        <h1>Let's work together</h1>
        <h3>Send me a message to start</h3>
      </div>
      <form>
        <input type="text" nameForm="nameForm" placeholder="nameForm" id="nameForm" required>
        <input type="email" nameForm="email" placeholder="Email" id="email" required>
        <textarea nameForm="textarea" placeholder="Enter your message.." rows="5" id="message" required></textarea>
        <button class="btn" id="submit" nameForm="submit"  >Send Message</button>
      </form>
    </div>
</section>