<section id="contact">
    
    <div class="contact-div">
      <div class="contact-div-text">
        <h1>Trabajemos juntos!</h1>
        <h3>Escribime para empezar</h3>
      </div>
      <form>
        <input type="text" name="name" placeholder="Nombre" id="name" required>
        <input type="email" name="email" placeholder="Email" id="email" required>
        <textarea name="textarea" placeholder="Escribe aquí tu mensaje.." rows="5" id="message" required></textarea>
        <button class="btn" id="submit" nameForm="submit"  >Send Message</button>
      </form>
    </div>
</section>