

/*------------CONTACT---------*/

#contact{
    padding: 10rem 0;
    font-size: 3rem;
    width: 100vw;
    background: #EFEFEF;
    animation: menu 4s ease-in 1;
  }
  
  .contact-div{
    display: flex;
    margin: 0 auto;
    max-width: 80%;
  }
  
  .contact-div-text{
    width: 50%;
    margin: auto 10rem auto 0;
    color: darkslateblue;
    font-family: 'Ruendeda', sans-serif;
  }
  
  .contact-div-text {
    text-align: center;
    
  }
  
  .contact-div-text h3{
    margin:4rem 0;
   
    font-weight:normal;
  }
  
  .contact-div form{
    display: flex;
    flex-direction: column;
    width: 50%;
    
    padding: 2rem;
    border-radius: 10px;
    background-color: rgb(18, 125, 59);
    box-shadow: 3px 3px 5px 3PX rgb(47, 54, 50);
  }
  
  #email{
    margin: 1rem 0;
  }
  
  form input, form textarea{
    text-indent: 10px;
    
   
  }
  
  
  form input, form textarea, .btn{
    text-indent: 10px;
    border: none;
    border-radius: 5px;
    padding: 1rem 0;
    font-size:2rem;
  }
  
  .btn{
    margin-top: 2rem;
    background: rgba(218, 73, 29, 0.836);
    color: white;
    font-weight: bold;
    letter-spacing: 0.3rem;
   
  }
  