/*----------WELCOME-----*/

#welcome {
  font-family: 'Fredoka One', cursive;
  overflow: hidden;
  width: 100%;
  background: black;
  color: white;
  text-align: center;
  letter-spacing: 1rem;
  box-shadow: 0 0 10px 10px gray;
  display: flex;
  justify-content: space-between;
}

.welcome__img {
  z-index: 0;
  width: 50%;
}

.welcome__img img {
  margin-bottom: -15rem;
  border-radius: 70% 50%;
  width: 45vw;
}

.welcome__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: scale(120%);
}

.welcome__text h4 {
  font-weight: normal;
  font-size: 1.5rem;
}

h1 {
  font-size: 2.5rem;
}