<section id='projects' class='section'>
  <div class="projects__fondo">
    <div class='fondo__title'>
      <p>Proyectos HTML & CSS <button *ngIf="isUserLogin" (click)="toogleNewproject()"><img class="agregar-btn"
            src="../../../assets/img/agregar2.jpg" alt="Add-img"></button></p>
    </div>
    <div *ngIf="isNewProject" class="fondo__new-element">
      <form class="new-element__form" [formGroup]="projectForm" (ngSubmit)="onSaveNewproject($event)">
        <ul class="form__list">
          <li>Nombre del nuevo projecto: <input class="list__input" placeholder="Calculadora de interés" type="text"
              formControlName="nameForm"></li>
          <li>Direccion URL: <input class="list__input" type="text" formControlName="urlForm"
              placeholder="www.cloud.com/projecto/id"></li>
          <li>Imagen URL: <input class="list__input" type="text" formControlName="imageForm"
              placeholder="www.cloud.com/projecto/id/imagen"></li>
          <button class="butn-form guardar" type="submit" [disabled]="projectForm.invalid">Guardar</button>
          <button class="butn-form cancelar" type="reset" (click)="toogleNewproject()">Cancelar</button>
        </ul>
      </form>
    </div>
    <div class="fondo__board">
      <div *ngFor="let proy of projectsList, index as i" class="board__card">
        <div class="card__conjunto" *ngIf="proy.id!=0 && isProjectEdit==0">
          <div class="conjunto__buttons">
            <button class="buttons__edit" *ngIf="isUserLogin && isProjectEdit!=proy.id"
              (click)="toogleprojectEdit(proy.id, i)">
              <img src="../../../assets/img/edit2.png" alt="Edit-img">
            </button>
            <button class="buttons__elim" *ngIf="isUserLogin && isProjectEdit!=proy.id" type="submit"
              (click)="onDeleteproject(i)">
              <img src="../../../assets/img/eliminar.png" alt="Delete-img" class="elim__normal">
              <img src="../../../assets/img/eliminar-hover.png" alt="Delete-img" class="elim__hover">
            </button>
          </div>
          <div class=conjunto__interior>
            <a [href]="proy.url">
              <div class='interior__proj-div'>
                <div class='proj-div__img-div'>
                  <img class='img-div__img' src="../../../assets/img/{{proy.image}}" alt="-----Proy-img">
                </div>
                <div class='project-div__title'>
                  <div class='title__transform'>{{proy.name}}</div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div *ngIf="isProjectEdit==proy.id && proy.id!=0" class="fondo__new-element">
          <form class="new-element__form" [formGroup]="projectForm" (ngSubmit)="onSaveprojectEdit($event, i)">
            <ul class="form__list">
              <li>Nombre del projecto: <input class="list__input" type="text" formControlName="nameForm">
              </li>
              <li>Direccion URL: <input class="list__input" type="text" formControlName="urlForm"></li>
              <li>Imagen URL: <input class="list__input" type="text" formControlName="imageForm"></li>
              <button class="butn-form guardar" type="submit" [disabled]="projectForm.invalid">Guardar</button><button
                class="butn-form cancelar" type="reset" (click)="toogleprojectEdit(0,0)">Cancelar</button>
            </ul>
          </form>
        </div>
        <div *ngIf="proy.id==0 && !isUserLogin" class="div-cero">
          <h2>Inicie sesión para agregar un nuevo projecto</h2>
        </div>
        <div *ngIf="proy.id==0 && isUserLogin && !isNewProject" class="div-cero">
          <h2>Agregue un nuevo projecto para visualizarlo aquí</h2>
        </div>
      </div>
    </div>
  </div>
</section>