<section>
  <div class='details'>
    <h1 class='details__title'>Sobre mi <button *ngIf="isUserLogin && !isPersonalDetailsEdit" class="btn-edit-mod"
        name="acercaEdit" type="submit" (click)="tooglePersonalDetailsEdit()"><img src="../../../assets/img/edit2.png"
          alt="edit-img" height="40" width="70"></button>
    </h1>
    <div class="details__datos" *ngIf="!isPersonalDetailsEdit && (personalDetailsList[0].id)!=0">
      <p *ngIf="personalDetailsList[0].aboutMe==''">Haga click en edit para agregar informacion</p>
      <p *ngIf="personalDetailsList[0].aboutMe!=''">{{personalDetailsList[0].aboutMe}}</p>
      <hr class="hr-mod">
      <ul class="datos__lista">
        <li *ngIf="personalDetailsList[0].name!=''"><strong>Nombre: </strong> {{personalDetailsList[0].name}}
          {{personalDetailsList[0].lastname}}</li>
        <li *ngIf="personalDetailsList[0].degree!=''"><strong>Titulo: </strong> {{personalDetailsList[0].degree}}</li>
        <li *ngIf="personalDetailsList[0].city!=''"><strong>Lugar de nacimiento: </strong>
          {{personalDetailsList[0].city}}
        </li>
        <li *ngIf="personalDetailsList[0].nationality!=''"><strong>Nacionalidad: </strong>
          {{personalDetailsList[0].nationality}}</li>
      </ul>
    </div>
    <form class="details__datos" [ngClass]="{'db-error':(dataBaseError && isPersonalDetailsEdit)}"
      *ngIf="isUserLogin && isPersonalDetailsEdit" [formGroup]="personalDetailsForm"
      (ngSubmit)="onSavePersonalDetails($event)">
      <ul>
        <li class="edit__input"><strong>Acerca de mi:</strong><input class="input__element form-control" type="text"
            formControlName="aboutMeForm"
            [ngClass]="{'is-invalid':personalDetailsForm.get('aboutMeForm')?.errors && personalDetailsForm.get('aboutMeForm')?.touched}">
        </li>
        <li class="edit__input"><strong>Nombre: </strong><input class="input__element form-control" type="text"
            formControlName="nameForm"
            [ngClass]="{'is-invalid':personalDetailsForm.get('nameForm')?.errors && personalDetailsForm.get('nameForm')?.touched}">
        </li>
        <li class="edit__input"><strong>Apellido: </strong><input class="input__element form-control" type="text"
            formControlName="lastnameForm"
            [ngClass]="{'is-invalid':personalDetailsForm.get('lastnameForm')?.errors && personalDetailsForm.get('lastnameForm')?.touched}">
        </li>
        <li class="edit__input"><strong>Titulo: </strong><input class="input__element form-control" type="text"
            formControlName="degreeForm"
            [ngClass]="{'is-invalid':personalDetailsForm.get('degreeForm')?.errors && personalDetailsForm.get('degreeForm')?.touched}">
        </li>
        <li class="edit__input"><strong>Originario de:</strong> <input class="input__element form-control" type="text"
            formControlName="cityForm"
            [ngClass]="{'is-invalid':personalDetailsForm.get('cityForm')?.errors && personalDetailsForm.get('cityForm')?.touched}">
        </li>
        <li class="edit__input"><strong>Nacionalidad: </strong><input class="input__element form-control" type="text"
            formControlName="nationalityForm"
            [ngClass]="{'is-invalid':personalDetailsForm.get('nationalityForm')?.errors && personalDetailsForm.get('nationalityForm')?.touched}">
        </li>
        <li class="edit__btn">
          <button class="butn-form guardar" type="submit" [disabled]="personalDetailsForm.invalid">Guardar</button>
          <button class="butn-form cancelar" type="reset" (click)="resetExtraVariables()">Cancelar</button>
        </li>
        <li *ngIf="personalDetailsForm.invalid && personalDetailsForm?.touched" class="error__text">Todos los campos son
          obligatorios</li>
          <br *ngIf="dataBaseError">
        <li *ngIf="dataBaseError" class="dberror__text">Error: Los datos no se guardaron</li>
      </ul>
    </form>
  </div>


  <!------------------------------------SECCION EXPERIENCIA-------------------------------------------->

  <div class='details' cdkDropListGroup>
    <h1 class='details__title'>Experiencia <button title="Agregar experiencia" *ngIf="isUserLogin"
        (click)="toogleNewExperience()"><img class="agregar-btn" src="../../../assets/img/agregar2.jpg"
          alt="Add-Img"></button>
    </h1>
    <div *ngIf="isNewExperience" class="details__new">
      <form class="new__form form-control" [formGroup]="experienceForm" (ngSubmit)="onNewExperience($event)"
        [ngClass]="{'db-error':dataBaseError}">
        <ul class="form__input">

          <li><strong>Puesto: </strong><input class="input__element form-control" type="text"
              formControlName="experienceJobForm" placeholder="Técnico en redes"
              [ngClass]="{'is-invalid': experienceForm.get('experienceJobForm')?.errors && experienceForm.get('experienceJobForm')?.touched}">
          </li>
          <li><strong>Empresa:</strong> <input class="input__element form-control" type="text"
              formControlName="experienceCompanyForm" placeholder="Google"
              [ngClass]="{'is-invalid': experienceForm.get('experienceCompanyForm')?.errors && experienceForm.get('experienceCompanyForm')?.touched}">
          </li>
          <li><strong>Fecha inicio: </strong><input class="input__element form-control" type="month"
              formControlName="experienceStartedForm" placeholder="YYYY-MM"
              [ngClass]="{'is-invalid': experienceForm.get('experienceStartedForm')?.errors && experienceForm.get('experienceStartedForm')?.touched}">
          </li>
          <li><strong>Fecha fin:</strong> <input class="input__element form-control" type="month"
              formControlName="experienceEndedForm" placeholder="YYYY-MM"
              [ngClass]="{'is-invalid': experienceForm.get('experienceEndedForm')?.errors && experienceForm.get('experienceEndedForm')?.touched}">
          </li>
          <li><strong>Logo URL: </strong><input class="input__element form-control" type="text"
              placeholder="www.cloud.com/imagen" formControlName="experienceLogoForm"
              [ngClass]="{'is-invalid': experienceForm.get('experienceLogoForm')?.errors && experienceForm.get('experienceLogoForm')?.touched}">
          </li>
          <button class="butn-form guardar" type="submit" [disabled]="experienceForm.invalid">Guardar</button><button
            class="butn-form cancelar" type="reset" (click)="resetExtraVariables()">Cancelar</button>
          <li *ngIf="experienceForm.invalid && experienceForm?.touched" class="error__text">Todos los campos son
            obligatorios</li>
          <li *ngIf="dataBaseError" class="error__text">Error: Los datos no se guardaron</li>
        </ul>
      </form>
    </div>
    <div class='details__for' title="{{isUserLogin? 'Arraste y suelte los datos para ordenarlos':''}}"
      *ngFor="let experience of experienceList, index as i" cdkDropList [cdkDropListData]="i" cdkDropListLockAxis="y">
      <div *ngIf="experience.id_exp!=0" class="for__card"
        [ngClass]="{'drag': isUserLogin && isExperienceEdit == 0, 'db-error':(dataBaseError && isExperienceEdit==experience.id_exp)}"
        cdkDrag [cdkDragData]="i" (cdkDragEntered)="dragEntered($event, experienceList)"
        (cdkDragMoved)="dragMoved($event)" (cdkDragDropped)="dragDropped($event,2, experienceList)"
        [cdkDragDisabled]="!isUserLogin || isExperienceEdit != 0">
        <div class="card__img-div" *ngIf="isExperienceEdit!=experience.id_exp">
          <img class="img-div__img" src="../../../assets/img/{{experience.logo}}" alt="Co. Logo">
        </div>
        <div class="card__data" *ngIf="isExperienceEdit!=experience.id_exp">
          <ul>
            <li><strong>Puesto: </strong>{{experience.job}}</li>
            <li><strong>Empresa:</strong> {{experience.company}}</li>
            <li><strong>Fecha:</strong> {{experience.started}} / {{experience.ended}}</li>
          </ul>
        </div>
        <div class="card__buttons" *ngIf="isUserLogin && isExperienceEdit!=experience.id_exp">
          <button class="btn-edit" (click)="toogleExperienceEdit(experience.id_exp, i)">
            <img src="../../../assets/img/edit2.png" alt="edit-img">
          </button>
          <button class="btn-elim" type="submit" (click)="onDeleteExperience(i)">
            <img src="../../../assets/img/eliminar.png" alt="delete-img" class="btn-elim__normal ">
            <img src="../../../assets/img/eliminar-hover.png" alt="delete-img" class="btn-elim__hover">
          </button>
        </div>
        <form *ngIf="isExperienceEdit==experience.id_exp && isExperienceEdit!=0" class="details__edit"
          [formGroup]="experienceForm" (ngSubmit)="onSaveExperienceEdit($event, i)">
          <ul>
            <li><strong>Puesto: </strong><input class="input__element form-control" type="text"
                formControlName="experienceJobForm"
                [ngClass]="{'is-invalid': experienceForm.get('experienceJobForm')?.errors && experienceForm.get('experienceJobForm')?.touched}">
            </li>
            <li><strong>Empresa: </strong><input class="input__element form-control" type="text"
                formControlName="experienceCompanyForm"
                [ngClass]="{'is-invalid': experienceForm.get('experienceCompanyForm')?.errors && experienceForm.get('experienceCompanyForm')?.touched}">
            </li>
            <li><strong>Fecha inicio: </strong><input class="input__element form-control" type="month"
                formControlName="experienceStartedForm" placeholder="YYYY-MM"
                [ngClass]="{'is-invalid': experienceForm.get('experienceStartedForm')?.errors && experienceForm.get('experienceStartedForm')?.touched}">
            </li>
            <li><strong>Fecha fin:</strong> <input class="input__element form-control" type="month"
                formControlName="experienceEndedForm" placeholder="YYYY-MM"
                [ngClass]="{'is-invalid': experienceForm.get('experienceEndedForm')?.errors && experienceForm.get('experienceEndedForm')?.touched}">
            </li>
            <li><strong>Logo URL:</strong> <input class="input__element form-control" type="text"
                formControlName="experienceLogoForm"
                [ngClass]="{'is-invalid': experienceForm.get('experienceLogoForm')?.errors && experienceForm.get('experienceLogoForm')?.touched}">
            </li>
            <button class="butn-form guardar" type="submit" [disabled]="experienceForm.invalid">Guardar</button><button
              class="butn-form cancelar" type="reset" (click)="resetExtraVariables()">Cancelar</button>
            <li *ngIf="experienceForm.invalid && experienceForm?.touched" class="error__text">Todos los campos son
              obligatorios</li>
            <li *ngIf="dataBaseError" class="error__text">Error: Los datos no se guardaron</li>
          </ul>
        </form>
      </div>

      <div *ngIf="experienceList[0].id_exp == 0 && !isUserLogin " class="for__no-element">
        <h2>Inicie sesión para agregar una nueva experience laboral</h2>
      </div>
      <div *ngIf="experienceList[0].id_exp == 0 && isUserLogin && !isNewExperience" class="for__no-element">
        <h2>Agregue una nueva experience laboral para visualizarla aquí</h2>
      </div>
    </div>
  </div>
  <hr>

  <!------------------------------------SECCION EDUCACION-------------------------------------------->
  <div class="details" cdkDropListGroup>
    <h1 class='details__title'>Educación <button title="Agregar educación" *ngIf="isUserLogin"
        (click)="toogleNewEducation()">
        <img class="agregar-btn" src="../../../assets/img/agregar2.jpg" alt="Add-img">
      </button>
    </h1>
    <div *ngIf="isNewEducation" class="details__new">
      <form class="new__form" [formGroup]="educationForm" (ngSubmit)="onNewEducation($event)"
        [ngClass]="{'db-error':(dataBaseError)}">
        <ul class="form__input">
          <li><strong>Nivel:</strong> <input class="input__element form-control" type="text"
              placeholder="Curso/Secundario/Universitario" formControlName="educationGradeForm"
              [ngClass]="{'is-invalid': educationForm.get('educationGradeForm')?.errors && educationForm.get('educationGradeForm')?.touched}">
          </li>
          <li><strong>Título: </strong><input class="input__element form-control" type="text"
              placeholder="Ingeniero en telecomunicaciones" formControlName="educationDegreeForm"
              [ngClass]="{'is-invalid': educationForm.get('educationDegreeForm')?.errors && educationForm.get('educationDegreeForm')?.touched}">
          </li>
          <li><strong>Institución: </strong><input class="input__element form-control" type="text"
              formControlName="educationInstitutionForm" placeholder="Universidad Nacional"
              [ngClass]="{'is-invalid': educationForm.get('educationInstitutionForm')?.errors && educationForm.get('educationInstitutionForm')?.touched}">
          </li>
          <li><strong>Fecha inicio:</strong><input class="input__element form-control" type="month"
              formControlName="educationStartedForm" placeholder="YYYY-MM"
              [ngClass]="{'is-invalid': educationForm.get('educationStartedForm')?.errors && educationForm.get('educationStartedForm')?.touched}">
          </li>
          <li><strong>Fecha fin:</strong><input class="input__element form-control" type="month"
              formControlName="educationEndedForm" placeholder="YYYY-MM"
              [ngClass]="{'is-invalid': educationForm.get('educationEndedForm')?.errors && educationForm.get('educationEndedForm')?.touched}">
          </li>
          <li><strong>Logo URL:</strong><input class="input__element form-control" type="text"
              formControlName="educationLogoForm" placeholder="www.cloud.com/imagen"
              [ngClass]="{'is-invalid': educationForm.get('educationLogoForm')?.errors && educationForm.get('educationLogoForm')?.touched}">
          </li>
          <button class="butn-form guardar" type="submit" [disabled]="educationForm.invalid">Guardar</button><button
            class="butn-form cancelar" type="reset" (click)="resetExtraVariables()">Cancelar</button>
          <li *ngIf="educationForm.invalid && educationForm?.touched" class="error__text">Todos los campos son
            obligatorios</li>
          <li *ngIf="dataBaseError" class="error__text">Error: Los datos no se guardaron</li>
        </ul>
      </form>
    </div>

    <div class='details__for' title="{{isUserLogin? 'Arraste y suelte los datos para ordenarlos':''}}"
      *ngFor="let education of educationList, index as i" cdkDropList [cdkDropListData]="i" cdkDropListLockAxis="y">
      <div *ngIf="education.id_edu!=0" class="for__card"
        [ngClass]="{'drag': (isUserLogin && isEducationEdit == 0), 'db-error':(dataBaseError && isEducationEdit==education.id_edu)}"
        cdkDrag [cdkDragData]="i" (cdkDragEntered)="dragEntered($event, educationList)"
        (cdkDragMoved)="dragMoved($event)" (cdkDragDropped)="dragDropped($event,1, educationList)"
        [cdkDragDisabled]="!isUserLogin || isEducationEdit != 0">
        <div class="card__img-div" *ngIf="isEducationEdit!=education.id_edu">
          <img class="img-div__img" src="../../../assets/img/{{education.logo}}" alt="Edu Logo" width="70">
        </div>
        <div class="card__data" *ngIf="isEducationEdit!=education.id_edu">
          <ul>
            <li><strong>Nivel:</strong> {{education.grade}}</li>
            <li><strong>Título:</strong> {{education.degree}}</li>
            <li><strong>Institución:</strong> {{education.institution}}</li>
            <li><strong>Fecha:</strong> {{education.started}} / {{education.ended}}</li>
          </ul>
        </div>
        <div class="card__buttons" *ngIf="isUserLogin && isEducationEdit!=education.id_edu">
          <button class="btn-edit" type="submit" (click)="toogleEducationEdit(education.id_edu, i)">
            <img src="../../../assets/img/edit2.png" alt="edit-img">
          </button>
          <button class="btn-elim" type="submit" (click)="onDeleteEducation(i)">
            <img src="../../../assets/img/eliminar.png" alt="delete-img" class="btn-elim__normal ">
            <img src="../../../assets/img/eliminar-hover.png" alt="delete-img" class="btn-elim__hover">
          </button>
        </div>
        <div *ngIf="isEducationEdit==education.id_edu && isEducationEdit!=0" class="details__edit">
          <form [formGroup]="educationForm" (ngSubmit)="onSaveEducationEdit($event, i)">
            <ul class="form__input">
              <li><strong>Nivel:</strong> <input class="input__element form-control" type="text"
                  formControlName="educationGradeForm"
                  [ngClass]="{'is-invalid': educationForm.get('educationGradeForm')?.errors && educationForm.get('educationGradeForm')?.touched}">
              </li>
              <li><strong>Título:</strong><input class="input__element form-control" type="text"
                  formControlName="educationDegreeForm"
                  [ngClass]="{'is-invalid': educationForm.get('educationDegreeForm')?.errors && educationForm.get('educationDegreeForm')?.touched}">
              </li>
              <li><strong>Institución:</strong> <input class="input__element form-control" type="text"
                  formControlName="educationInstitutionForm"
                  [ngClass]="{'is-invalid': educationForm.get('educationInstitutionForm')?.errors && educationForm.get('educationInstitutionForm')?.touched}">
              </li>
              <li><strong>Fecha inicio:</strong><input class="input__element form-control" type="month"
                  formControlName="educationStartedForm"
                  [ngClass]="{'is-invalid': educationForm.get('educationStartedForm')?.errors && educationForm.get('educationStartedForm')?.touched}">
              </li>
              <li><strong> Fecha fin:</strong><input class="input__element form-control" type="month"
                  formControlName="educationEndedForm"
                  [ngClass]="{'is-invalid': educationForm.get('educationEndedForm')?.errors && educationForm.get('educationEndedForm')?.touched}">
              </li>
              <li><strong>Logo URL:</strong><input class="input__element form-control" type="text"
                  formControlName="educationLogoForm"
                  [ngClass]="{'is-invalid': educationForm.get('educationLogoForm')?.errors && educationForm.get('educationLogoForm')?.touched}">
              </li>
              <div class="card__align">
                <button class="butn-form guardar" type="submit" [disabled]="educationForm.invalid">Guardar</button>
                <button class="butn-form cancelar" type="reset" (click)="resetExtraVariables()">Cancelar</button>
              </div>
              <li *ngIf="educationForm.invalid && educationForm?.touched" class="error__text">Todos los campos son
                obligatorios</li>
              <li *ngIf="dataBaseError" class="dberror__text">Error: Los datos no se guardaron</li>

            </ul>
          </form>
        </div>
      </div>
      <div *ngIf="educationList[0].id_edu == 0 && !isUserLogin " class="for__no-element">
        <h2>Inicie sesión para agregar una nuevo elemento de educación</h2>
      </div>
      <div *ngIf="educationList[0].id_edu == 0 && isUserLogin && !isNewEducation" class="for__no-element">
        <h2>Agregue un nuevo elemento de educación para visualizarlo aquí</h2>
      </div>
    </div>
  </div>
</section>