.nav-bar {
  display: inline-flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 8rem;
  background: var(--bandera);
  font-size: 2.5rem;
  align-items: center;
  justify-content: space-between;
  margin-right: 10rem;
  z-index: 2;
}

.italia {
  position: absolute;
  right: 0;
  background-color: rgba(128, 128, 128, 0.501);
  background: var(--bandera-ita);
  width: 55vw;
  height: 100%;
}

.nav-bar__logo {
  display: inline-flex;
  align-items: center;
  z-index: 2;
}

.logo__divImg {
  display: flex;
  margin: auto 0;
  max-height: 10%;
}

.divImg__img {
  border-radius: 15%;
  margin-left: 2rem;
  height: 6rem;
}

.logo__text {
  margin-left: 1.5rem;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  line-height: 1.5rem;

}

.nav-bar__menu {
  width: 60%;
  display: inline-flex;
  justify-content: flex-end;
  align-content: center;
  height: 100%;
}

.menu__navlink {

  margin: 0 2rem;
  z-index: 1;
  font-weight: bold;
  display: flex;
  align-items: center;

}

.navlink__logo-fb {
  height: 8rem;
  width: 8rem;
}

.navlink__logo-in {
  height: 4.5rem;
  width: 4.5rem;
}

.navlink__logo-git {
  height: 6rem;
  width: 6rem;
}


/*----------------EFECTS------------------*/

.menu__navlink:hover {
  color: white;
  background-color: coral;
  padding: 0 2rem;
  border-radius: 5px;
  margin-top: -2rem;
}