section {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  background-color: rgba(3, 99, 21, 0.674);
  box-shadow: 0 0 10px 10px rgba(13, 62, 22, 0.8);
  padding: 50px 0 100px 0;
}

.div-cero {
  font-family: 'Bebas Neue', cursive;
  color: white;
  letter-spacing: 2px;
}

p {
  font-size: 5rem;
  font-family: 'Titan One', cursive;
  font-weight: normal;
}

.section__new-element {
  display: flex;
  justify-content: center;
  width: 70%;
  border-radius: 10px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
}

.new-element__new-form {
  width: 75%;
}

.section__board{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.board__skill {
  width: 30%;
  margin: 5rem auto;
}

.board__skillEdit{
  width: 80%;
}

button {
  background: none;
  border: none;
  margin-left: 2rem;
  align-content: center;
}

.agregar-btn {
  border-radius: 50%;
  border: rgb(0, 0, 0) 3px solid;
  width: 4rem;
  height: 4rem;
  box-shadow: 0px 0px 7px 5px rgba(120, 9, 9, 0.789);
}

input {
  width: 100%;
  border-radius: 5px;
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
}


h1 button {
  border: none;
  background: none;
}

.div-text input {
  max-width: 75%;
}

.butn-form {
  margin-top: 20px;
  padding: 3px 10px;
  border-radius: 5px;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 5px;
}

.guardar {
  color: white;
  background-color: rgb(33, 105, 18);
  margin-right: 20px;
}

.cancelar {
  color: white;
  background-color: black;
}

.new-form__form-list {
  width: 100%;
  list-style: none;
  padding: 1.5rem 0;
}
.skill__skill-div{
  width: 50%;
  margin: 0 auto;

}

.skill__skill-divEdit {
  border: solid black 2px;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  
}

.skill-div__text {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
}

.skill__skillbar {
  margin: 0 auto;
}

.progress {
  height: 3rem;
  font-size: 2rem;
  border-radius: 15px;
}

.progress-bar {
  background-color: red;
  animation: barra 2s 1 linear;
}

.skillbar__edit {
  margin: 0 auto;
  border-radius: 10px;
}

.edit__list {
  padding: 1.5rem 0;
  list-style: none;
  width: 90%;
  margin: 0 auto;
}

.elim1 {
  height: 4rem;
  width: 4rem;
}

.elim2 {
  display: none;
  overflow: hidden;
  height: 4rem;
  width: 3rem;
}

.guardar:disabled {
  background-color: rgba(32, 105, 18, 0.495);
}

.guardar:not([disabled]):hover {
  color: black;
  background-color: orange;
}

.cancelar:hover {
  color: black;
  background-color: white;
}

.btn-elim:hover .elim1 {
  display: none;
  overflow: hidden;
}

.btn-elim:hover .elim2 {
  display: block;
  margin-right: 10px;
}

.btn-edit:hover {
  transform: scale(110%, 110%);
}

.agregar-btn:hover {
  transform: scale(110%);
}

.btn-edit img {
  max-width: 6rem;
  height: 3rem;
}

.btn-elim:hover {
  margin-top: -10px;
  padding: 5px 5px 5px 5px;
  border-radius: 25%;
  background-color: red;
}

.drag {
  cursor: move;
}

.db-error {
  border: 3px red solid;
  color: red;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
 
}

.error__text {
  margin-top: 2rem;
  font-weight: normal;
  color: red;
}

.form-control {
  font-size: 2.5rem;
  border-width: 3px;
}

@keyframes barra {
  0% {
    transform: translate(-100%);
  }

  100% {
    transform: translate(0%);
  }
}