<section>
    <p>Habilidades <button *ngIf="isUserLogin && !isNewSkill" (click)="toogleNewSkill()"><img class="agregar-btn"
                src="../../../assets/img/agregar2.jpg" alt="agregar" height="50" width="50"></button>
    </p>

    <div *ngIf="isNewSkill" class="new-div">
        <ul class="newform-div">
            <form class="inputForm" [formGroup]="skillForm" (ngSubmit)="onNewSkill($event)">
                <li>nameForm de la nueva habilidad: <input class="input-form" type="text" formControlnameForm="nameFormForm">
                </li>
                <li>Valor (0-100/agregar signo %): <input class="input-form" type="text" formControlnameForm="valorForm">
                </li>
                <button class="butn-form guardar" type="submit">Guardar</button><button class="butn-form cancelar"
                    type="reset" (click)="toogleNewSkill()">Cancelar</button>
            </form>
        </ul>
    </div>
    <div class="skill" *ngFor="let skill of skillsList, index as i">
        <div *ngIf="isSkillEdit!=skill.id" class="skill-space">
            <h1>{{skill.nameForm}}</h1>
            <button class="btn-edit" *ngIf="isUserLogin && isSkillEdit!=skill.id"
                (click)="toogleSkillEdit(skill.id, i)">
                <img src="../../../assets/img/edit2.png" alt="edit">
            </button>
            <button class="btn-elim" *ngIf="isUserLogin && isSkillEdit!=skill.id" type="submit"
                (click)="onDeleteSkill(i)">

                <img src="../../../assets/img/eliminar.png" alt="edit" class="elim1">

                <img src="../../../assets/img/eliminar-hover.png" alt="edit" class="elim2">
            </button>
        </div>
        <div class="skillbar" *ngIf="skill.id!=0">
            <div class="progress " *ngIf="isSkillEdit!=skill.id">
                <div class="progress-bar progress-bar-striped" role="progressbar" aria-label="Example with label"
                    [style.width]="skill.valor" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{skill.valor}}
                </div>
            </div>
            <ul *ngIf="isSkillEdit==skill.id">
                <form class="inputForm" [formGroup]="skillForm" (ngSubmit)="onSaveEditSkill($event, i)">
                    <li>nameForm de habilidad: <input class="input-form" type="text" formControlnameForm="nameFormForm"></li>
                    <li>Valor (agregar signo %): <input class="input-form" type="text" formControlnameForm="valorForm"></li>
                    <button class="butn-form guardar" type="submit">Guardar</button>
                    <button class="butn-form cancelar" type="reset" (click)="toogleSkillEdit(0, 0)">Cancelar</button>
                </form>
            </ul>
        </div>
    </div>
    <div *ngIf=" !isUserLogin && skillsList.length==0" class="div-cero">
        <h2>Inicie sesión para agregar una nueva habilidad</h2>
    </div>
    <div *ngIf="isUserLogin && !isNewSkill && skillsList.length==0" class="div-cero">
        <h2>Agregue una nueva habilidad para visualizarla aquí</h2>
    </div>
</section>