*,
::before,
::after {
  padding: 0;
  margin: 0;
}

section:before {
  display: block;
  content: "";
  height: 10vh;
  margin: -10vh 0 0 0;
}

:root {
  --bandera-azul: rgb(55, 145, 214);
  --bandera-blanco: white;
  --bandera-verde: green;
  --bandera-rojo: red;
  --bandera: linear-gradient(var(--bandera-azul), var(--bandera-blanco) 35%, var(--bandera-blanco) 65%, var(--bandera-azul) 100%);
  --bandera-ita: linear-gradient(90deg, transparent, var(--bandera-verde) 20%, var(--bandera-verde) 30%, var(--bandera-blanco) 45%, var(--bandera-blanco) 70%, var(--bandera-rojo) 100%);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  min-width: 100vw;
}

a {
  text-decoration: none;
  color: black;
}

hr {
  width: 60vw;
  height: 0.7rem;
  margin: 5rem 20vw;
  border: solid 2px gray;
  border-radius: 5px;
  background: white;
}


/*--------------------------------MEDIA QUERY--------------------------------------------*/

@media only screen and (max-width:1150px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width:960px) {
  html {
    font-size: 45%;
  }

}

@media only screen and (max-width:768px) {
  html {
    font-size: 38%;
  }

}

@media only screen and (max-width:640px) {
  html {
    font-size: 30%;
  }
}

@media only screen and (max-width:480px) {
  html {
    font-size: 25%;
  }
}

@media only screen and (max-width:320px) {
  html {
    font-size: 20%;
  }
}